.app {
  margin: 1rem 5rem 1rem 5rem;
  padding: 3rem 3rem 3rem 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn {
  border: 1px solid lightgray;
  font-family: Roboto, sans-serif;
  margin: 0.2rem 0.2rem;
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
  width: 30%;
  text-align: center;
}

.display {
  border: 1px solid lightblue;
  font-family: Robot, sans-serif;
  border-radius: 5%;
  width: 50%;
  font-size: 2rem;
  text-align: end;
  padding: 1rem 0.45rem 1rem 0.75rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.btn-panel {
  display: flex;
  width: 15rem;
  justify-content: space-around;
}

.desc {
  font-family: Robot, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
